<!DOCTYPE html>
<html class="<%= polaris_html_classes %>" style="<%= polaris_html_styles %>">
  <head>
    <title>Rails App with Polaris</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "polaris_view_components" %>
  </head>

  <body style="<%= polaris_body_styles %>">
    <%= render 'shared/polaris/body' %>
  </body>
</html>


